message = "wdio-lambdatest-service: bump version %s"
registry = https://nexus.ord.metapeer.com/repository/npm-all/
@mfc:registry=https://nexus.ord.metapeer.com/repository/npm-internal/
always-auth=true
//nexus.ord.metapeer.com/repository/npm-internal/:_auth=YXBwOmhpZVh1WmFlNm1haQ==
//nexus.ord.metapeer.com/:_auth=YXBwOmhpZVh1WmFlNm1haQ==
